*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 100%;
	scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;
	background-color: cadetblue;
}
button {
	border: none;
	cursor: pointer;
}
a {
	text-decoration: none;
}
li{
	list-style: none;
}