$fontSize-12: 1.2rem;
$fontSize-14: 1.4rem;
$fontSize-16: 1.6rem;
$fontSize-18: 1.8rem;
$fontSize-24: 2.4rem;
$fontSize-32: 3.2rem;
$fontSize-36: 3.6rem;
$fontSize-48: 4.8rem;
$fontSize-60: 6rem;
$fontSize-72: 7.2rem
