@use '../abstracts/' as *;

.heading-secondary{
    font-size: $font-size-20;
    font-weight: 100;
    text-align: center;
    @media(min-width: 48em){
        font-size: $font-size-32;
    }
}

.heading-tertiary{
    font-size: $font-size-24;
    text-align: center;
    font-weight: 100;
    letter-spacing: 1px;
}