@use "./utilities/" as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
}
button {
	border: none;
	cursor: pointer;
}
a {
	text-decoration: none;
}
li{
	list-style: none;
}

// navigation

.nav{
	position: relative;
	height: 6rem;
	background-color: $main-color;
	color: $light-gray-e;
	&__mobile{
		position: fixed;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 6rem;
		width: 100%;
	}
	&__sidebar{
		position: fixed;
		display: none;
	}
}