$dark-color-3: #010807;
$dark-color-2: #001211;
$dark-color-1: #0a1b1b;
$main-color: #142524;
$light-main-1: #293837;


$dark-cta-2: #004d53;
$dark-cta-1: #00676e;
$main-cta: #00818a;
$light-cta-1: #2a8b93;
$light-cta-2: #73f0ed;

$main-gradient-45: linear-gradient(45deg, #012a29, #010807);
$main-gradient-215: linear-gradient(215deg, #012a29, #010807);
$light-gradient-45: linear-gradient(45deg, $dark-color-2, $dark-cta-1);
$dark-gradien-180: linear-gradient(180deg, $dark-color-2, $dark-color-3);

$transparent-gradient-0: linear-gradient(0deg, rgba(0,0,0) 0%, rgba(0,0,0, 0) 70%);

$black-color: #000;
$white-color: #fff;

$dark-gray-1: #111;
$dark-gray-3: #333;
$dark-gray-5: #555;
$dark-gray-7: #777;

$light-gray-e: #eee;
$light-gray-d: #ddd;
$light-gray-c: #ccc;
$light-gray-b: #bbb;
