

$dark-color-2: #080020;
$dark-color-1: #0f0038;
$main-color: #150050;
$light-color-1: #5b4d85;
$light-color-2: #a199b9;

$dark-cta-2: #664200;
$dark-cta-1: #b37300;
$main-cta: #ffa500;
$light-cta-1: #ffc04d;
$light-cta-2: #ffdb99;

$dark-gray-1: #111;
$dark-gray-3: #333;
$dark-gray-5: #555;
$dark-gray-7: #777;

$light-gray-e: #eee;
$light-gray-d: #ddd;
$light-gray-c: #ccc;
$light-gray-b: #bbb;







