

$darkpurple2: #080020;
$darkpurple1: #0f0038;
$mainpurple: #150050;
$lightpurple1: #5b4d85;
$lightpurple2: #a199b9;

$darkorange2: #664200;
$darkorange1: #b37300;
$mainorange: #ffa500;
$lightorange1: #ffc04d;
$lightorange2: #ffdb99;







