@use '../abstracts/' as *;

.swiper {
  padding: 1rem;
  width: 100%;
  height: auto;
  right: 0;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.entertainment__swiper-box, .cinema__swiper-box, .sport__swiper-box{
  position: relative;
  height: 20rem;
  padding-bottom: 1rem;
}
@media(min-width: 48em){
  .swiper{
    position: absolute;
    bottom: 0rem;
    
  }
  .entertainment__swiper-box, .cinema__swiper-box, .sport__swiper-box{
    height: 15rem;
  }
}