@use '../abstracts/' as *;

.cinema{
    background-color: $dark-color-2;
    &__img{
        background-image: $transparent-gradient-45, url(./../../src/img/cinema.jpg);
        height: 35vw;
        min-height: 10rem;
        // max-height: 50rem;
        background-position: right;
        background-size: cover;        
    }
    &__text-box{
        padding: 1rem 2rem;
        background-image: $dark-gradient-180;
    }
    &__text{
        margin-block: .5rem;
        &--one{
            text-transform: uppercase;
        }
        &--two{
            font-size: $font-size-24;
        }
        &--one, &--three{
            font-size: $font-size-14;
        }
    }
    &__link{
        display: block;
        margin: 1.5rem auto 2rem;
        padding-block: 1rem;
        width: 100%;
        max-width: 20rem;
        color: inherit;
        text-align: center;
        background-color: $main-cta;
        border-radius: 10px;
        transition: background-color .3s;
        &:hover{
            background-color: $dark-cta-1;
        }
    }
    &__title{
        margin-top: .5rem;
        font-size: $font-size-12;
    }
    &__streaming{
        padding: .2rem;
        font-size: $font-size-12;
        color: $dark-gray-9;
    }
    @media(min-width: 48em){
       position: relative;
       padding-bottom: 3rem;
        &__img{
            display: none;
        }
        &__text-box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 45vh;
            background-image: $transparent-gradient-45, url(./../../src/img/cinema.jpg);
            background-position: top;
            background-size: cover;
        }
        &__text{
            width: 45%;
            &--one{
                text-transform: uppercase;
            }
            &--two{
                font-size: $font-size-36;
            }
            &--one, &--three{
                font-size: $font-size-16;
            }
        }
        &__link{
            margin-inline: 0;
        }
    }
}