@use '../abstracts/' as *;

.entertainment{
    &__img{
        background-image: $transparent-gradient-45, url(../../../src/img/entertaiment.jpg);
        height: 35vw;
        min-height: 10rem;
        // max-height: 50rem;
        background-position: right;
        background-size: cover;        
    }
    &__text-box{
        padding: 1rem 2rem;
        background-image: $dark-gradient-180;
    }
    &__text{
        margin-block: .5rem;
        &--one{
            text-transform: uppercase;
        }
        &--two{
            font-size: $font-size-24;
        }
        &--one, &--three{
            font-size: $font-size-14;
        }
    }
    &__link{
        display: block;
        margin: 1.5rem auto 2rem;
        padding-block: 1rem;
        width: 100%;
        max-width: 20rem;
        color: inherit;
        text-align: center;
        background-color: $main-cta;
        border-radius: 10px;
        transition: background-color .3s;
        &:hover{
            background-color: $dark-cta-1;
        }
    }
    &__swiper{
        background-color: $dark-color-2;
    }
}